@font-face {
  font-family: 'Oxanium';
  font-display: swap;
  src: url(oxanium.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oxanium', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #66ffff;
    overflow: hidden;
}

body.loaded {
    opacity: 1;
}

.full-page-wrapper {
    display: flex;
    justify-content: center; /* Centers horizontally even if content overflows */
    align-items: center;     /* Centers vertically even if content overflows */
    width: 100vw;
    height: 100vh;
    overflow: hidden;          /* Allows scrolling to see the rest of the large SVG */
}

.highlight-path {
    animation: flash 0.5s ease-in-out alternate;
    filter: url(#glow);
}

.laser-point {
    transition: opacity 0.1s;
    filter: url(#glow)
}

#main {
    flex-shrink: 0; /* Vital: prevents flexbox from squishing the SVG to fit the page */
    z-index: 0;
    pointer-events: none;
}

.menu-option {
    color: #067575;
    height: 1.2em;
}

.menu-option.selected {
    color: #66ffff;
}

